body {
  width: 50%;
  margin: 0 auto;
  background-color: #99E1D9;
}

header {
  text-align: center;
  
}

header h1 {
  font-size: 60px;
  color: #F7567C;
  font-weight: 800;
  
}

input {
  font-size: 20px;
  color: #2c3e50;
  width: 100%;
  /* border: none; */
  outline: none;
  border: 3px solid #2c3e50;
  padding: 5px;
}

.task {
  background-color: #FFFAE3;
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  border: 3px solid #F7567C;
  border-radius: 5px;
  cursor: pointer;
}

.task span {
  color: #F7567C;
  font-size: 25px;
  
}

.icon {
  float: right;
  margin-right: 20px;
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 20px;
  color: #F7567C;
  background-color: transparent;
  /* border: none; */
  border: 3px solid #F7567C;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: #6c6777;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  margin-top: 15px;
}

.button.selected {
  color: #FFF;
  background-color: #F7567C;
}

.button.clear {
  float: right;
  color: #FFF;
  background-color: #ee1630;
  width: 170px;
}